USE [Coppel]
GO
/****** Object:  Table [dbo].[centroTrabajo]    Script Date: 22/11/2025 12:29:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[centroTrabajo](
	[noCentro] [varchar](6) NOT NULL,
	[nombreCentro] [varchar](100) NOT NULL,
	[ciudad] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[noCentro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Directivo]    Script Date: 22/11/2025 12:29:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directivo](
	[noEmpleado] [int] NOT NULL,
	[noCentroSupervisa] [varchar](6) NULL,
	[prestaciones] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 22/11/2025 12:29:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[noEmpleado] [int] NOT NULL,
	[nombre] [varchar](10) NULL,
	[apellidoP] [varchar](15) NULL,
	[apellidoM] [varchar](15) NULL,
	[fechaNacimiento] [varchar](10) NULL,
	[RFC] [varchar](13) NULL,
	[centroTrabajo] [varchar](6) NULL,
	[puesto] [int] NULL,
	[descripcionPuesto] [varchar](40) NULL,
	[directivo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[noEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Puestos]    Script Date: 22/11/2025 12:29:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Puestos](
	[noPuesto] [int] NOT NULL,
	[puesto] [varchar](50) NULL,
	[descripcion] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[noPuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[centroTrabajo] ([noCentro], [nombreCentro], [ciudad]) VALUES (N'000201', N'Tiendas Ángel Flores Ropa', N'Guadalajara')
INSERT [dbo].[centroTrabajo] ([noCentro], [nombreCentro], [ciudad]) VALUES (N'000202', N'Tienda Ángel Flores Muebles', N'Guadalajara')
INSERT [dbo].[centroTrabajo] ([noCentro], [nombreCentro], [ciudad]) VALUES (N'000203', N'Tienda Ángel Flores Cajas', N'Guadalajara')
GO
INSERT [dbo].[Directivo] ([noEmpleado], [noCentroSupervisa], [prestaciones]) VALUES (3, N'000202', 1)
INSERT [dbo].[Directivo] ([noEmpleado], [noCentroSupervisa], [prestaciones]) VALUES (6, N'008961', 1)
INSERT [dbo].[Directivo] ([noEmpleado], [noCentroSupervisa], [prestaciones]) VALUES (8, N'008962', 1)
GO
INSERT [dbo].[Empleado] ([noEmpleado], [nombre], [apellidoP], [apellidoM], [fechaNacimiento], [RFC], [centroTrabajo], [puesto], [descripcionPuesto], [directivo]) VALUES (2, N'Jesus', N'Cardenas', N'Rodriguez', N'12/01/1988', N'CARJ880112xxx', N'000201', 0, N'Vendedor', 0)
INSERT [dbo].[Empleado] ([noEmpleado], [nombre], [apellidoP], [apellidoM], [fechaNacimiento], [RFC], [centroTrabajo], [puesto], [descripcionPuesto], [directivo]) VALUES (3, N'Oscar', N'Zarate', N'Torres', N'24/08/1990', N'ZATO900824xxx', N'000202', 1, N'Director de area', 1)
INSERT [dbo].[Empleado] ([noEmpleado], [nombre], [apellidoP], [apellidoM], [fechaNacimiento], [RFC], [centroTrabajo], [puesto], [descripcionPuesto], [directivo]) VALUES (4, N'José', N'Lopez', N'Perez', N'01/01/1980', N'LOPJ800101xxx', N'008960', 0, N'Vendedor', 0)
GO
INSERT [dbo].[Puestos] ([noPuesto], [puesto], [descripcion]) VALUES (0, N'Asesor', N'Vendedor')
INSERT [dbo].[Puestos] ([noPuesto], [puesto], [descripcion]) VALUES (1, N'Director', N'Director de area')
INSERT [dbo].[Puestos] ([noPuesto], [puesto], [descripcion]) VALUES (2, N'Coordinador', N'Coordinador de operaciones')
GO
ALTER TABLE [dbo].[Directivo]  WITH CHECK ADD  CONSTRAINT [FK_Directivo_centroTrabajo] FOREIGN KEY([noCentroSupervisa])
REFERENCES [dbo].[centroTrabajo] ([noCentro])
GO
ALTER TABLE [dbo].[Directivo] CHECK CONSTRAINT [FK_Directivo_centroTrabajo]
GO
ALTER TABLE [dbo].[Directivo]  WITH CHECK ADD  CONSTRAINT [FK_Directivo_Empleado] FOREIGN KEY([noEmpleado])
REFERENCES [dbo].[Empleado] ([noEmpleado])
GO
ALTER TABLE [dbo].[Directivo] CHECK CONSTRAINT [FK_Directivo_Empleado]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_centroTrabajo] FOREIGN KEY([centroTrabajo])
REFERENCES [dbo].[centroTrabajo] ([noCentro])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_centroTrabajo]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Puestos] FOREIGN KEY([puesto])
REFERENCES [dbo].[Puestos] ([noPuesto])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Puestos]
GO
